In [1]:
import pandas as pd

import config
import load_CRSP_stock
import clean_CRSP_stock
import misc_tools

DATA_DIR= config.DATA_DIR

In [2]:
df_dsf = load_CRSP_stock.load_CRSP_daily_file(data_dir=DATA_DIR)
df_dsix = load_CRSP_stock.load_CRSP_index_files(data_dir=DATA_DIR)

In [3]:
df_dsf.head()

,date,permno,permco,exchcd,prc,bid,ask,shrout,cfacpr,cfacshr,ret,retx
0,1997-12-01,10001,7953,3,8.7500,8.75,8.9375,2378000.0,1.5,1.5,0.000000,0.000000
1,1997-12-02,10001,7953,3,8.7500,8.75,8.9375,2378000.0,1.5,1.5,0.000000,0.000000
2,1997-12-03,10001,7953,3,8.7500,8.75,8.8750,2378000.0,1.5,1.5,0.000000,0.000000
3,1997-12-04,10001,7953,3,8.8750,8.75,8.8750,2378000.0,1.5,1.5,0.014286,0.014286
4,1997-12-05,10001,7953,3,8.9375,8.75,8.9375,2378000.0,1.5,1.5,0.007042,0.007042

In [4]:
df_dsix.head()

,caldt,vwretd,vwindd,vwretx,vwindx,ewretd,ewindd,ewretx,ewindx,sprtrn,...,decret8,decind8,decret9,decind9,decret10,decind10,totval,totcnt,usdval,usdcnt
0,1998-01-02,0.002498,1974.144,0.002468,790.5295,0.010453,23843.55,0.010442,13741.90,0.004750,...,0.002614,2573.226,-0.002084,2347.223,0.002798,1863.824,1.081824e+10,9104,1.079077e+10,9100
1,1998-01-05,0.002276,1978.637,0.002257,792.3135,0.005575,23976.47,0.005564,13818.37,0.002082,...,0.003072,2581.132,0.001752,2351.334,0.002129,1867.792,1.084248e+10,9103,1.081784e+10,9100
2,1998-01-06,-0.010232,1958.392,-0.010273,784.1741,-0.003519,23892.10,-0.003533,13769.55,-0.010736,...,-0.007017,2563.020,-0.009618,2328.719,-0.010785,1847.649,1.072989e+10,9098,1.084126e+10,9098
3,1998-01-07,-0.003519,1951.501,-0.003710,781.2650,-0.003507,23808.31,-0.003572,13720.37,-0.002669,...,-0.006379,2546.671,-0.007221,2311.904,-0.002958,1842.183,1.068977e+10,9096,1.072952e+10,9094
4,1998-01-08,-0.008325,1935.255,-0.008369,774.7269,-0.002990,23737.13,-0.003067,13678.29,-0.008257,...,-0.008888,2524.035,-0.007926,2293.581,-0.008664,1826.222,1.059939e+10,9092,1.068878e+10,9089

# 1. Time range: 1998 - 2010

In [5]:
df_dsf = clean_CRSP_stock.clean_date(df_dsf)
df_dsf.head()

,date,permno,permco,exchcd,prc,bid,ask,shrout,cfacpr,cfacshr,ret,retx
8,2001-01-30,10085,8029,1,8.99,NaN,NaN,46817000.0,1.0,1.0,0.000000,0.000000
9,2001-01-31,10085,8029,1,8.25,NaN,NaN,46817000.0,1.0,1.0,-0.082314,-0.082314
10,2001-02-01,10085,8029,1,8.20,NaN,NaN,46817000.0,1.0,1.0,-0.006061,-0.006061
11,2001-02-02,10085,8029,1,8.12,NaN,NaN,46817000.0,1.0,1.0,-0.009756,-0.009756
12,2001-02-05,10085,8029,1,8.02,NaN,NaN,46817000.0,1.0,1.0,-0.012315,-0.012315

In [3]:
df_dsf = clean_CRSP_stock.select_stocks_by_closing_prices(df_dsf)
df_dsf

,date,permno,permco,exchcd,prc,bid,ask,shrout,cfacpr,cfacshr,ret,retx
8,2001-01-30,10085,8029,1,8.9900,NaN,NaN,46817000.0,1.0,1.0,0.000000,0.000000
9,2001-01-31,10085,8029,1,8.2500,NaN,NaN,46817000.0,1.0,1.0,-0.082314,-0.082314
10,2001-02-01,10085,8029,1,8.2000,NaN,NaN,46817000.0,1.0,1.0,-0.006061,-0.006061
11,2001-02-02,10085,8029,1,8.1200,NaN,NaN,46817000.0,1.0,1.0,-0.009756,-0.009756
12,2001-02-05,10085,8029,1,8.0200,NaN,NaN,46817000.0,1.0,1.0,-0.012315,-0.012315
...,...,...,...,...,...,...,...,...,...,...,...,...
443538,1998-02-02,10011,9813,3,12.0000,11.8750,12.0,7930000.0,1.0,1.0,0.005236,0.005236
443539,1998-02-03,10011,9813,3,11.8125,11.8125,12.0,7930000.0,1.0,1.0,-0.015625,-0.015625
443540,1998-02-04,10011,9813,3,12.0000,11.6875,12.0,7930000.0,1.0,1.0,0.015873,0.015873
443541,1998-02-05,10011,9813,3,11.6875,11.6875,12.0,7930000.0,1.0,1.0,-0.026042,-0.026042
443542,1998-02-06,10011,9813,3,11.6875,11.6875,12.0,7930000.0,1.0,1.0,0.000000,0.000000